/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 16, 2026, 1:42:32 PM
    Author     : admin
*/
.Container {
    -fx-background-color: lightblue;
    -fx-alignment: CENTER;
    -fx-spacing: 10;
}

.Subject {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-stroke-width: 3;
    -fx-stroke-color: gold;
}

.Button {
    -fx-background-color: lightgrey;
    -fx-fill: black;
    -fx-font-size: 20;
    -fx-pref-width: 200;
}
